:root {
  --adv-section-bg-color: #161F49;
  
  --logo-header-color: #000000;
  --logo-footer-color: #FFFFFF;

  --main-font-color: #404040;
  --secondary-font-color: #FFFFFF;
  --third-font-color: #646565;
  
  --button-main-text-color: #FFFFFF;
  --button-main-bg-color: #2468FF;
  --forth-font-color: #000000;
  --button-focused-bg-color: #223072;

  --green-button-active-bg-color: #00B68C;
  --green-button-main-bg-color: #999999;
  --button-secondary-text-color: rgba(64, 64, 64, 0.3);
  
  --selector-main-text-color: #999999;
  --selector-accent-text-color: #2468FF;

  --form-placeholder-color: #989898;

  --main-section-bg-color: #FFFFFF;
  --secondary-section-bg-color: #F7F7F7;
  --thirdly-section-bg-color: #161F49;
  --forthly-section-bg-color: #404040:

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
