<section class="best-choise section">
  <div class="container">
    <h2 class="choise-title">
      Give your home the connectivity it <br />
      deserves.
    </h2>
    <p class="choise-text">
      Say goodbye to dead spots, drop-offs, and buffering—even when the whole
      family is <br />
      online. With eero, a simple and reliable connection is a given. Get a
      consistently strong <br />
      signal for streaming, gaming, and working from every part of your home.
    </p>
    <img
      src="./images/best-choise-section-man.jpg"
      alt="Man in chair with lap-top"
      width="1008"
      height="569"
      class="choise-picture"
    />
  </div>
</section>
