<section class="compare-section section">
  <div class="container">
    <h2 class="section__title visually-hidden">Compare All Models</h2>

    <ul class="product-list">
      <li class="product-list__item">
        <article class="product">
          <p class="product__main-feature">Wi-Fi 6</p>
          <h3 class="product__name">eero Pro 6</h3>
          <p class="product__main-descr">The fastest eero yet.</p>
          <p class="product__secondary-descr">
            Tri-band Wi-Fi 6 system designed for homes with gigabit internet
            connections.
          </p>
          <p class="product__price">
            Starting at
            <span class="product__price-highlight">$229</span>
          </p>
          <button class="button">Shop now</button>
        </article>
      </li>

      <li class="product-list__item">
        <article class="product">
          <p class="product__main-feature">Wi-Fi 6</p>
          <h3 class="product__name">eero 6</h3>
          <p class="product__main-descr">
            Experience Wi-Fi 6—the new standard for home wifi.
          </p>
          <p class="product__secondary-descr">
            Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet
            connections.
          </p>
          <p class="product__price">
            Starting at
            <span class="product__price-highlight">$129</span>
          </p>
          <button class="button">Shop now</button>
        </article>
      </li>
    </ul>

    <div class="compare-section__see-more-link-wrap">
      <a href="" class="see-more-link">Compare All Models</a>
    </div>
  </div>
</section>
