<section class="connected-home">
  <div class="container ch-container">
    <p class="ch-text">Explore eero systems on</p>
    <a href="" class="ch-mention-link">
      <svg class="ch-logo" width ="107.47px" height="32.39px">
      <use href="./images/symbol-defs.svg#icon-amazon"></use>
    </svg>
    </a>
    <a href="" class="ch-link">Shop now</a>
    <h2 class="ch-title">More wifi for the devices in your connected home.</h2>
    <p class="ch-after-title">
      eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase
      your internet’s efficiency, and reduce network congestion. Say goodbye to
      dead spots and buffering with a connection that doesn’t slow you down,
      even as you add more devices.
    </p>
    <button class="ch-btn button">Find your eero system</button>
    <img src="./images/Rectangle_ch.svg" alt="" class="ch-img">
    </svg>
  </div>
</section>
