<section class="section features">
    <container class="container features-container">
        <h1 class="features-title">Never worry about wifi again.</h1>
        <ul class="list features-list">
            <li class="features-item">
                <svg class="features-svg" width ="77.07px" height="77.07px"><use href="./images/symbol-defs.svg#icon-hand"></use></svg>
                <p class="features-pretitle">Fast and easy setup</p>
                <p class="features-text">Unbox your eero devices, download the app, and start surfing the web in minutes. The eero app makes it easy to set up and manage wifi for everyone at home.</p>
                <div class="link-wrap"><a href="" class="link features-link">Chek out the app</a></div>
            </li>
            <li class="features-item">
                <svg class="features-svg" width ="77.07px" height="77.07px" ><use href="./images/symbol-defs.svg#icon-security"></use></svg>
                <p class="features-pretitle">Advanced network protection</p>
                <p class="features-text">Every eero comes with world-class encryption and security protocols. Add on eero Secure to get even more protection with parental controls, ad blocking, and more.</p>
                <div class="link-wrap"><a href="" class="link features-link">Get eero secure</a></div>
            </li>
            <li class="features-item">
                <svg class="features-svg" width ="77.07px" height="77.07px"><use href="./images/symbol-defs.svg#icon-square"></use></svg>
                <p class="features-pretitle">Always getting better</p>
                <p class="features-text">eero automatically updates to bring you security patches, improved performance, and new features.</p>
                <div class="link-wrap"><a href="" class="link features-link"> Read about eero updates</a></div>
            </li>
        </ul>
    </container>
</section>