<section class="find-system section">
  <div class="container find-system__container">
    <h2 class="find-system__title">Find your eero system</h2>
    <div class="carousel">
      <ul class="carousel__list">
        <li class="carousel__item">
          <a href="#" class="carousel__link">1</a>
          <!-- <div class="carousel__decor-line"></div> -->
        </li>
        <li class="carousel__item">
          <a href="#" class="carousel__link">2</a>
          <!-- <div class="carousel__decor-line"></div> -->
        </li>
        <li class="carousel__item">
          <a href="#" class="carousel__link">3</a>
          <!-- <div class="carousel__decor-line"></div> -->
        </li>
        <li class="carousel__item">
          <a href="#" class="carousel__link">4</a>
        </li>
      </ul>
      <img
        src="./images/find-your-system-img.png"
        alt="demo image"
        class="carousel__img"
      />
      <p class="carousel__text">I have a home</p>
    </div>
    <button type="button" class="button carousel__button">Next</button>
  </div>
</section>
