<footer class="footer">
  <div class="container">
    <a href="" class="footer-logo">
      <svg class="" width="86" height="39">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>

    <div class="footer-wrap">
      <div class="footer-about">
        <ul class="footer-about-lists">
          <li class="footer-about-item">
            <ul class="footer-about-list">
              <li>
                <p>Products</p>
              </li>
              <li>
                <p>How it works</p>
              </li>
              <li>
                <p>Technology</p>
              </li>
              <li>
                <p>eero Secure</p>
              </li>
              <li>
                <p>Support</p>
              </li>
              <li>
                <p>Find Your System</p>
              </li>
              <li>
                <p>Cookie preferences</p>
              </li>
            </ul>
          </li>
          <li>
            <ul class="footer-about-list">
              <li>
                <p>Shop</p>
              </li>
              <li>
                <p>Careers</p>
              </li>
              <li>
                <p>Blog</p>
              </li>
              <li>
                <p>Media room</p>
              </li>
              <li>
                <p>Legal</p>
              </li>
              <li>
                <p>Custom installer</p>
              </li>
              <li>
                <p>Where to buy</p>
              </li>
              <li>
                <p>eero for Service Providers</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-connect">
        <h2 class="footer-connect-title">Connect with us</h2>
        <p class="footer-connect-text">For the latest eero news and promotions.</p>
        <form class="footer-forma" autocomplete="off">
          <input id="footer-form" type="email" name="email" class="footer-input"/>
          <label for="footer-form" class="footer-label">EMAIL</label>
          <button type="submit" class="submit">SUBMIT</button>
        </form>
      </div>  
    </div>
    <div class="footer-social">
      <p class="footer-unicode">&#169; 2021EERO LLC, SAN FRANCISCO, CA</p>
      <div class="footer-social-wrap">
        <ul class="footer-social-list">
          <li><a href="" class="social">
              <svg class="footer-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
          </li>
          <li><a href="" class="social">
              <svg class="footer-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-lin"></use>
              </svg>
          </li>
          <li><a href="" class="social">
              <svg class="footer-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-in"></use>
              </svg>
          </li>
          <li><a href="" class="social">
              <svg class="footer-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-p"></use>
              </svg>
          </li>
          <li><a href="" class="social">
              <svg class="footer-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
              </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>