<header class="header">
  <div class="container">
    <p class="advertisment">
      Free 2-day shipping | 30-day money back guarantee
    </p>

    <div class="header__wrap">
      <a href="./index.html" class="logo">
        <svg class="logo__img" width="70" height="32">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>

      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="" class="site-nav__link">Products</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">How it works</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">Technology</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">eero Secure</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">Support</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">Find your system</a>
          </li>
        </ul>
      </nav>

      <button class="button site-nav__button">Shop</button>
    </div>
  </div>
</header>
