<section class="insight section">
    <div class="container">
        <h2 class="insight-title">Turns out, people love great wifi.</h2>
        <div class="insight-wrap">
            <div class="insight-img">
                <img src="./images/insigt.jpg" alt="family plaing with children" width="720" height="488" />
            </div>

            <div class="insight-about">
                <ul class="insight-list">
                    <li class="insight-item">
                        <a href="#" class="insight-link current">Setup</a>
                    </li>
                    <li class="insight-item">
                        <a href="#" class="insight-link link">Coverage</a>
                    </li>
                    <li class="insight-item">
                        <a href="#" class="insight-link link">Reliability</a>
                    </li>
                    <li class="insight-item">
                        <a href="#" class="insight-link link">Security</a>
                    </li>
                </ul>

                <p class="about-text">
                    "Setting up our eeros was a breeze thanks to the plug and play installation. The whole<br/> experience
                    was
                    life changing
                    compared to other routers we’ve used".
                </p>
                <h3 class="about-title">The Rankins</h3>
                <p class="about-after-title">Seattle, WA I 4 Bedroom house<br /> 3,300 sq. ft.<br /> 16 connected devices <br />Use eero 3-pack</p>
                <button type="button" class="button">Shop all eero systems</button>
            </div>
        </div>
    </div>
</section>