<section class="potential">
  <div class="container container__potential">
    <ul class="potential__list">
      <li class="potential__item">
        <a href="#" class="potential__link link">
          <svg class="potential__icon" width="77" height="77">
            <use href="../images/symbol-defs.svg#icon-potential1"></use>
          </svg>
        </a>
      </li>
      <li class="potential__item">
        <a href="#" class="potential__link link">
          <svg class="potential__icon" width="77" height="77">
            <use href="../images/symbol-defs.svg#icon-potential2"></use>
          </svg>
        </a>
      </li>
      <li class="potential__item">
        <a href="#" class="potential__link link">
          <svg class="potential__icon" width="77" height="77">
            <use href="../images/symbol-defs.svg#icon-potential3"></use>
          </svg>
        </a>
      </li>
    </ul>
    <h2 class="potential__title">Unlock your wifi’s potential.</h2>
    <p class="potential__paragraph">
      Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub,
      making it easy to connect compatible devices with Alexa. So you can
      control certain lights, locks, plugs, and more—without the need to buy
      separate smart home hubs for each.
    </p>
    <button type="button" class="button potential__button">Learn More</button>
    <div class="potential__wrapper">
      <span class="potential_rectangel"></span
      ><span class="potential_rectangel"></span
      ><span class="potential_rectangel"></span>
    </div>
  </div>
</section>
