<section class="support section">
  <div class="container">
    <h2 class="support-title">The experts are in.</h2>
    <h3 class="support-text">
      Our team is just a (toll-free) phone call, email, or tweet away.
    </h3>
    <button type="button" class="support-btn button">Help center</button>
    <ul class="support-list">
      <li class="support-options">
        <svg class="support-icon" width="36" height="36">
          <use href="../images/symbol-defs.svg#icon-award"></use>
        </svg>
        <p class="support-description">30-day guarantee</p>
      </li>
      <li class="support-options">
        <svg class="support-icon" width="36" height="36">
          <use href="../images/symbol-defs.svg#icon-man"></use>
        </svg>
        <p class="support-description">Free support</p>
      </li>
      <li class="support-options">
        <svg class="support-icon" width="36" height="36">
          <use href="../images/symbol-defs.svg#icon-car"></use>
        </svg>
        <p class="support-description">Free shipping</p>
      </li>
      <li class="support-options">
        <svg class="support-icon" width="36" height="36">
          <use href="../images/symbol-defs.svg#icon-cup"></use>
        </svg>
        <p class="support-description">1-year warranty</p>
      </li>
    </ul>
  </div>
</section>
