.best-choise.section {
  background-color: var(--main-section-bg-color);
}
.choise-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 44px;
}
.choise-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 78px;
}
.choise-picture {
  display: block;
  margin: 0 auto;
}
