.header {
  // TODO:
  font-family: 'Roboto';
  color: var(--main-font-color);
}

.advertisment {
  padding: 5px 0;

  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.11px;
  color: var(--secondary-font-color);

  background-color: var(--adv-section-bg-color);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;

  color: var(--logo-header-color);
}

.logo__img {
  display: inline-block;
  width: 107px;
  height: 47px;

  fill: currentColor;
}

.site-nav {
  display: flex;
  gap: 37px;
}

.site-nav__item {
}

.site-nav__link {
  display: inline-block;
  padding: 30px 0 25px;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.11px;
  color: var(--main-font-color);
}

.site-nav__button {
  width: 166px;
  height: auto;
}
