.true-mesh{
    background-color: #161F49;
    text-align: center;
}
.true-mesh-title{
    font-size: 50px;
    line-height: 1.2;
    color: var(--button-main-text-color);
    margin-bottom: 44px;
}
.true-mesh-text{
    font-size: 18px;
    line-height: 1.39;
    color: var(--button-main-text-color);
    margin-bottom: 38px;
    width: 710px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.true-mesh-img{
    width: 666px;
    height: 304px;
    margin-top: 71px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}